<head>
  <script type="module" src="pure-timeline.js"></script>
  <script type="module" src="pure-timeline-item.js"></script>
  <style>
    pure-timeline-item {
      --dots: red;
    }
  </style>
</head>

<body>
  <pure-timeline>
    <pure-timeline-item boxtext="Test">Item 1</pure-timeline-item>
    <pure-timeline-item>Item 2 without box</pure-timeline-item>
    <pure-timeline-item boxtext="15.09.2019">
      <h1>Item 3</h1>
      <p>With content</p>
    </pure-timeline-item>
  </pure-timeline>
</body>